/* --- VARIABLES --- */
$header-font: "Roboto", sans-serif;
$paragraph-font: "Anonymous Pro", monospace;

$logo-color: #f29540;
$text-color: #000000;
$text-color2: #ffffff;

/* GLOBAL */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 16px;
  line-height: 1.4;
  text-align: center;
}

.btn {
  cursor: pointer;
  padding: 20px;
  border-radius: 10px;
  background-color: $logo-color;
  text-decoration: none;
  color: $text-color;
  position: absolute;
  top: 175%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* NAVIGATION */

.navigation {
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
  background: transparent;
  z-index: 1;
  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
  }
  li {
    display: inline-block;
  }
  a {
    text-decoration: none;
    text-transform: uppercase;
    font-family: $paragraph-font;
    color: $text-color;
  }
  a:hover {
    color: $logo-color;
  }
  .logotype {
    font-size: 24px;
    color: $logo-color;
  }
}

/* HEADER */

.splash {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("/images/dissasamble-camera.jpg");
  background-size: cover;
  object-fit: cover;
}

.splash-inner {
  position: absolute;
  width: auto;
  font-family: $header-font;
  color: $text-color2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.splash-inner:after {
  content: "";
  background-color: $text-color;
  border-radius: 10px;
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.85;
  z-index: -1;
  margin: -30px -30px;
}

/* SERVICE */

.services {
  i {
    color: $logo-color;
    font-size: 24px;
    width: 50px;
    height: 50px;
    line-height: 46px;
    border-radius: 50%;
    border: 2px solid $logo-color;
  }
  h2,
  h3 {
    font-family: $header-font;
    margin: 0;
  }
  p {
    font-family: $paragraph-font;
    margin: 0;
  }
}
